@model List<ASPNETMVCCRUD.Models.Domain.Employee>
@{
}
<h1>Employees</h1>
<table class="table">
	<thead>
			<tr>
			<td>  <a type="submit" class="btn btn-primary"  asp-action="Add" asp-controller="Employees">Add New</a></td>
			</tr>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Salary</th>
			<th>Dat Of Birth</th>
			<th>Department</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var employee in Model)
		{
			<tr>
				<td>@employee.Id</td>
				<td>@employee.Name </td>
				<td>@employee.Email </td>
				<td>@employee.Salary </td>
				<td>@employee.DateOfBirth.ToString("dd-mm-yyyy")</td>
				<td>@employee.Department</td>
				<td><a href="Employees/View/@employee.Id">View</a></td>
			</tr>
		}
	</tbody>
</table>